body{
	font-family: verdana;
	margin: 0;
	padding: 0;
    
    background-color: #83db8c;
}

main{
    margin: 30px;
}

header{
	background-color: #127e1c;
	color: white;
	padding: 10px;
	text-align: center;
}

nav{
    background-color: #93e49b;
    padding: 15px;
    text-align: center;
}

nav a{
    margin: 0 15px;
    width:100%;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: white;
    text-shadow: #094d10;
}

.tabla{
    border-radius: 15px;
    background-color: #93e49b;
}

form input{
    background-color: #a8f0af;
}

fieldset{
    border-radius: 30px;
    padding:  10px 40px;
}

.boton_enviar{
    border-radius: 10px;
    padding: 10px;
    transition: all .3s;
    background-color: #fdfdfd;
    font-weight: bold;
}

.boton_enviar:hover{
    background: radial-gradient(#40573d 0%, #4b7e3e 100%);
    color: white;
}
    

.inside-form textarea{
    background-color: #a8f0af;
}

.myLinks a{
    color:#cc1515;
    text-decoration: solid;
}

.yo{
    border-radius: 30px;

}
